<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.myGame" version="1.0.0"
	xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>MyGame</name>
	<description>
		A blank PhoneGap app.
	</description>
	<author email="rafa.albelda@gmail.com" href="http://phonegap.com">Rafa Albelda
	</author>
	<content src="index.html" />
	<plugin name="org.apache.cordova.device" spec="~1.1.0"/>
    <plugin name="org.apache.cordova.device-motion" spec="~1.1.0"/>
	<access origin="*" />
	<allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
     </platform>
</widget>
